---
title: "Thad Turner - IT Systems Administrator"
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/keyboard-home-lab.jpg
  actions:
    - label: "About Me"
      url: "/about/"
excerpt: "IT operations is a game of problem solving. By constantly taking on new challenges we can find better solutions for the issues we interact with every single day."
feature_row:
  - image_path: /assets/images/2025-08-06-What-I-Wish-I-Knew-LSysadmin/serverroom.png
    alt: "What I Wish I Knew Before I Was a Linux Systems Administrator"
    title: "What I Wish I Knew Before I Was a Linux Systems Administrator"
    excerpt: "When I was 13 years old in a middle school class, I was tasked with looking up careers and developing a plan for what I wanted to be when I grew up. For a lot of kids, this was a difficult question, but ever since I started on Windows Millennium and played Fury3 at a young age, I knew I wanted to work with computers for a living."
    url: "/project-posts/2025-08-06-What-I-Wish-I-Knew-LSysadmin/"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/2025-07-02-FortWayneBsides/SpeakingStage.jpg
    alt: "BSides Fort Wayne 2025 Conference Experience"
    title: "BSides Fort Wayne 2025 Conference Experience"
    excerpt: "The Fort Wayne BSides Information Security Conference in Fort Wayne, Indiana, took place on June 7th of 2025. I was privileged enough to play a large part in the development of the CTF challenges as well as the badge that was given to each attendee at the conference."
    url: "/htb-writeups/2024-01-29-Blackfield-HTB-Writeup/"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/2025-02-26-Trickster-HTB-Writeup/Trickster-HTB-Image.png
    alt: "Trickster HTB Writeup"
    title: "Trickster HTB Writeup"
    excerpt: "Trickster is a medium level box that involves web exploitation and unnecessary deployment artifacts in the form of Git repository hidden files in the web root. From there source code is revealed allowing the attacker to access a hidden admin panel which leads to exploitation of PrestaShop with CVE-2024-34716."
    url: "/htb-writeups/2025-02-26-Trickster-HTB-Writeup/"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row2:
  - image_path: /assets/images/2022-06-05-Overview-Home-Lab/rack-home-lab.jpg
    alt: "Turner Services Home Lab"
    title: "Homelab Overview"
    excerpt: "A home lab is an excellent way to learn about new technologies in a safe environment. I utilize my home lab to learn Infrastructure as Code, Python development, cybersecurity work, and Ethical Hacking. The home lab section of this site will detail projects and technologies that I learn along the way."
    url: "/project-posts/"
    btn_label: "Checkout My Latest Projects"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row2" type="left" %}
